.navbar{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 2px;
}
.nav-logo p{
    color: rgb(248, 83, 83);
    font-size: 28px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: gray;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80px;
    height: 5px;
    border-radius: 10px;
    background: red;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button{
    width: 120px;
    height: 40px;
    outline: none;
    border: 1px solid gray;
    border-radius: 75px;
    color: gray;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}
.nav-login-cart button:hover{
    background-color: rgb(227, 227, 227);
}
.nav-login-cart button:active{
    background-color: white;
}
.nav-cart-count{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 100%;
    font-size: 15px;
    background-color: red;
    color: white;
}